<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Recicla recife - plataforma de marcação de eventos">
        <meta name="author" content="Gustavo Henrique Pereira Silva">
        <meta name="keywords" content="Recilagem , compostagem ">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js"></script>
        <link rel="stylesheet" href="http://localhost:3000/login/css">
        <title>Recicla - Recife Login</title>
    </head>
    <body>
        <form action="#" method="post" id="formLogin">
            <fieldset>
                <legend>Registro</legend>
                <label for="username">Login</label>
                <input type="text" id="username" name="username" placeholder="Digite seu login">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha ">
                <div>
                    <span>Não tem uma conta? <a href="http://localhost:3000/registro">Cadastre-se</a></span>
                </div>
                <button type="submit" id="btn__login">Login</button>

            </fieldset>
        </form>
    </body>
</html>