<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recicla Recife - plataforma de marcação de eventos">
    <meta name="author" content="Gustavo Henrique Pereira Silva">
    <meta name="keywords" content="Reciclagem, compostagem">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:3000/login/css">
    <title>Recicla-Recife Cadastrar</title>
</head>
<body>
    <form action="#" method="post" id="formRegistro">
        <fieldset>
            <legend>Cadastre-se</legend>
            <label for="REG__username">Username</label>
            <input type="text" id="REG__username" name="REG__username" placeholder="Digite um nome de usuário" required value="testando">
            <label for="REG__password">Password</label>
            <input type="password" id="REG__password" name="REG__password" placeholder="Digite uma senha" required>
            <div>
                <span>Já tem uma conta?<a href="http://localhost:3000/login"> Faça login</a></span>
            </div>
            <button type="submit" id="btn__registro">Cadastrar</button>
        </fieldset>
    </form>


    <script src="http://localhost:3000/js"></script>
</body>
</html>
