*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formLogin{
    border: 1px solid black;
    border-radius: 7px;
    padding: 1.5rem;
}

#formLogin fieldset{
    border: none;
    display: flex;
    flex-direction:column;
    gap: 0.8rem;
}

#formLogin fieldset legend{
    border: none;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0rem;
}

#formLogin fieldset input{
    padding: 0.3rem 0rem;
}

#btn__login{
    padding: 0.3rem 0rem;
    text-transform: uppercase;
    background-color: rgb(12, 9, 9);
    color: white;
    font-weight: bold;
    transition: 0.8s;
    cursor: pointer;
}
#btn__login:hover{
    padding: 0.3rem 0rem;
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: white;
    font-weight: bold;
    transition: 0.8s;
    border-radius: 7px;

}



/*Cadastro*/
#formCadastro{
    border: 1px solid black;
    padding: 1rem 1rem;
}
#formCadastro fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1rem;
}
#formCadastro legend{
    text-align: center;
    padding: 1rem 0rem;
}

#formCadastro input{
    padding: 0.3rem;
}


#btn__cadastro{
    padding: 0.3rem 0rem;
    text-transform: uppercase;
    background-color: rgb(12, 9, 9);
    color: white;
    font-weight: bold;
    transition: 0.8s;
    cursor: pointer;
}
#btn__cadastro:hover{
    padding: 0.3rem 0rem;
    text-transform: uppercase;
    background-color: rgb(48, 46, 46);
    color: white;
    font-weight: bold;
    transition: 0.8s;
    border-radius: 7px;

}